<?xml version="1.0" encoding="utf-8"?>
<manifest package="de.unima.ar.collector"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    <uses-feature android:name="android.hardware.camera"
                  android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="de.unima.ar.collector.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="de.unima.ar.collector.ui.SettingActivity"
            android:label="@string/prefTitle"
            android:screenOrientation="nosensor">
        </activity>

        <service
            android:name="de.unima.ar.collector.SensorDataCollectorService"
            android:exported="false"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_name"
            >
            <intent-filter android:label="@string/service_name">
                <action android:name="de.unima.ar.collector.service"/>
            </intent-filter>
        </service>
        <service android:name=".api.ListenerService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" />
            </intent-filter>
        </service>
        <service
            android:name="de.unima.ar.collector.database.BulkInsertService"
            android:exported="false"
            android:label="BulkInsertService"/>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value=""/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>
</manifest>
